@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .grid-card {
        @apply aspect-[4/3] rounded-lg md:aspect-[3/4] xl:aspect-[4/3] overflow-hidden shadow-md dark:shadow-white relative hover:scale-95 transition-all duration-300
    },

    .grid-card-img {
        @apply w-full h-full  bg-cover bg-center absolute group-hover:scale-125 group-hover:rotate-3 transition-all duration-500
    }
};

@layer utilities {
    #toggle:checked ~ label div.toggle-circle {
        @apply translate-x-3;
    }
};